.article{
    margin:4rem 1rem 2rem 1rem;
}
.title{
    color:rgb(250, 205, 109);
}
.warning{
    margin:4rem 1rem 2rem 1rem;
    color:rgb(255, 110, 110);
}
.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.button{
    color:rgb(208, 238, 255);
    background-color: rgba(250, 205, 109, 0);
    border: 2px solid;
    border-radius: 15px;
    font-size: 2rem;
    transition: all .2s ease;
    &:hover{
        color:rgb(250, 205, 109);
        &:active{
            transform: scale(0.98);
        }
    }

}