
.container {
    max-width: 45rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
    }

.header{
    margin: 1rem 1rem;
    border:solid;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.footer{
    margin: 4rem 1rem;
}